// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import 'syntax-variables';
@import 'semanticolor';

.syntax--semanticolor-mute {
	color: mix(@syntax-text-color, @syntax-background-color, 85%);
}

.syntax--semanticolor-contrast {
	color: @syntax-background-color;
	background-color: @syntax-text-color;
}

.syntax--identifier {
	.color-indices(@hues);

	.color-indices( @n, @i:1) when (@i =< @n) {
		@hue: @i * (360 / @n);
		@color: hsl(@hue, @saturation, @luminosity);

		&.syntax--semanticolor-@{i} {
			// Choose a color of the given hue with good contrast
			color: contrast(@syntax-background-color, tint(@color, @fade), shade(@color, @fade)) !important;
		}
		.color-indices(@n, @i + 1);
	}
}
